
<ion-header>
  <ion-navbar>
    <ion-title>crear Contacto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="activar">
      <button ion-button color="primary" block (click)="activar=false">Agregar</button>

  
  <div padding>
    
      
      <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
   
    
     <button ion-button color="danger" block (click)="dismiss(false)">Cancelar</button>
  </div>
  <ion-card *ngIf="scannedCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Valor: {{ scannedCode }}</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>

