
<ion-header>
  <ion-navbar>
    <ion-title>Crear Contacto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="activar">
      <button ion-button color="primary" block (click)="activar=false">Agregar</button>

    </ion-card>
    <ion-card *ngIf="!activar">
    <ion-list>
      
      <ion-item>
              <ion-label floating>Nombre</ion-label>
              <ion-input type="text"  name=nombre [(ngModel)]="nom">
              </ion-input>
       </ion-item>
      
      <ion-item>
              <ion-label floating>Numero telefonico</ion-label>
              <ion-input type="number" name="num" [(ngModel)]="num">  
              </ion-input>
       </ion-item>
    </ion-list>
    <button ion-button color="primary" block (click)="createCode()">Crear Código QR</button>
     </ion-card>
     <ion-card *ngIf="createdCode">
        <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
        <ion-card-content>
          <p>Valor: {{ createdCode }}</p>
        </ion-card-content>
        <button ion-button color="primary" block (click)="activar=true && createdCode=false">crear otro</button>
      </ion-card>
  

  <div padding>
    
      
      <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan Code</button>
   
    
     <button ion-button color="danger" block (click)="dismiss(false)">Cancelar</button>
  </div>
  <ion-card *ngIf="scannedCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Valor: {{ scannedCode }}</p>
    </ion-card-content>
  </ion-card>
  
</ion-content>

